html, body {
    margin: 0;
    font-size: 15px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container { 
    height: 100vh;
    display: grid;
    grid-template-columns: 250px 1fr;
}
.sidebar {
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.search-box input {
    margin-left: 20px;
}
.location-container {
    width: 180px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
    justify-content: cetner;
    box-shadow: 0px 10px 10px 1px;
}
.location-container .header {
    font-size: 0.7rem;

    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.location-container .details {

    display: flex;
    justify-content: space-between;
    font-size: 0.7rem;
    
}
.location-container .details .temp {
    display: flex;
    gap: 10px;
}
.main-content {
    /* background-color: skyblue; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-content .header {
    padding: 50px;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.name-container h1{
    margin: 0;
    font-size: 2.3rem;
    
}
.details-container{
    color: rgb(0, 0, 0)
    
}
.temperature-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.temperature-container p{
    margin: 0;
    font-size: 3.8rem;
}
.temperature-container .details-container p {
    font-size: 0.9rem;
}
.contents { 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding-top: 30px;
    align-self: center;

}
.contents p {
    padding: 0;
    margin: 0;
}

.description-container {
    background-color: white;
    border-radius: 20px;
    padding: 0 20px;
    width: 80%;
    
}
.windspeed-container {
    background-color: white;
    border-radius: 20px;
    width: 250px;
    height: 100px;
    font-size: 2.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.humidity-container {
    
    background-color: white;
    border-radius: 20px;
    font-size: 2.5rem;
   
    display: flex;
    flex-direction: column;
    align-items: center;

}

.feelslike-container {
    height: 100px;
    background-color: white;
    border-radius: 20px;
    font-size: 2.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;

}
.contents .header {
    color: rgb(154, 150, 150);
    height: 10px;
    padding: 10px;
    background-color: rgb(255, 241, 45);
    font-size: 0.8rem;
}
p.context {
    margin-top: 10px;
}
img { 
    width: 20px;
    padding-top: 10px
}
